<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  <ion-title>Alert</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="secondary" (click)="alert()">Alerta</ion-button>

  <ion-button expand="block" color="secondary" (click)="multiple()">Alerta múltiplo</ion-button>

  <ion-button expand="block" color="secondary" (click)="confirm()">Confirme</ion-button>

  <ion-button expand="block" color="secondary" (click)="prompt()">prompt</ion-button>

</ion-content>
