<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  <ion-title>Card</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg.ibxk.com.br%2F2015%2F07%2F23%2F23170425700729.jpg%3Fw%3D328&imgrefurl=https%3A%2F%2Fwww.tecmundo.com.br%2Ffotografia-e-design%2F83674-voce-sabe-fotografia-vista-historia.htm&tbnid=dQpCoTyUH0sVdM&vet=12ahUKEwiVsc67tL3wAhUaNLkGHcjGAoUQMygQegUIARDvAQ..i&docid=q6GGu2pbmUvfCM&w=328&h=205&q=imagem&ved=2ahUKEwiVsc67tL3wAhUaNLkGHcjGAoUQMygQegUIARDvAQ"></ion-img>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle> Ugauga</ion-card-subtitle>
    <ion-card-title>Udí saúda</ion-card-title>
    <p>Saúde Udí vc tmb</p>
  </ion-card-header>
  
</ion-card>
</ion-content>
